Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

.terraform
terraform.tfvars
terraform.tfstate.backup
.terraform.lock.hcl
terraform.tfstate
